* {
    font-family: 'Quicksand', Helvetica, sans-serif;
    /* color: #6c7073 ; */
}

.error {
    border: 2px tomato solid;
}

.span {
    content: "el id ya existe";
    color: tomato;
}

.imagenTipo {
    width: 150px;
    height: 200px;
}